@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

@keyframes pulse {
	0%,
	100% {
		fill: #066868;
	}
	50% {
		fill: #05afaf;
	}
}

/* Animate the Logo */
.path1 {
	animation: pulse 2s infinite;
}

.path2 {
	animation: pulse 2s infinite 0.5s;
}

.path3 {
	animation: pulse 2s infinite 1s;
}

.path4 {
	animation: pulse 2s infinite 1.5s;
}
